* {
  font-family: 'Press Start 2P', arial;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #335A77;/*#848482;*/
  border-radius: 15px;
  border: 5px solid black;
}

td {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-color: #40a4df;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

span {
  color: black;
}

h1 {
  background-color: red;
  border: 5px solid black;
}

.fa-linkedin-square:hover, .fa-twitter-square:hover, .fa-github-square:hover {
  text-decoration: underline;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}

.show-ship {
  background-color: #b3b3b3;
}

#game, #info {
  /*flex-grow: 2;*/
  flex-basis: 18%;
  flex-shrink: 5;
  background-color: #848482;/*#74b560;#c2b280;*/
  color: white;
  border: 5px solid black;/*#c2b280;*/
  text-align: center;
  /*height: 800px;*/
}

#game {
  border-radius: 15px 0 0 15px;
}

#info {
  border-radius: 0 15px 15px 0;
}

.destroyed {
  border-bottom: 2px solid #b3b3b3;
  padding-bottom: 5px;
  /*padding-top: 5px;
  border-top: 2px solid #b3b3b3;*/
}

table {
  /*flex-grow: 2;
  flex-basis: 50%;*/
  margin: auto auto;
  border: 5px solid black;
}

.header, #footer {
  flex-grow: 1;
  flex-basis: 100%;
  text-align: center;
  background-color: #848482;/*#74b560;*/
  color: white;
}

.header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#footer {
  padding-bottom: 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#rules-head {
  border-bottom: 2px solid #b3b3b3;
  border-top: 2px solid #b3b3b3;
  padding-top: 5px;
  padding-bottom: 3px;
}

#log {
  border-bottom: 2px solid #b3b3b3;
  padding-bottom: 5px;
}

#ships {
  border-bottom: 2px solid #b3b3b3;
  padding-bottom: 5px;
  line-height: 1.2em;
}

ul > li {
  text-align: left;
  margin-top: 10px;
}

#red-box {
  width: 10px;
  height: 10px;
  background-color: red;
}

#white-box {
  width: 10px;
  height: 10px;
  background-color: white;
}

#gray-box {
  width: 10px;
  height: 10px;
  background-color: #b3b3b3;
}

#something {
  color: red;
  border-bottom: 2px solid #b3b3b3;
  padding-bottom: 10px;
  font-size: 24px;
}

@media all and (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .header, #footer {
    flex-shrink: 3;
    flex-basis: 10%;
  }

  #game, #info {
    flex-basis: 15%
  }
}
